# Explore here

In [3]:
# Librerias

import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/data-preprocessing-project-tutorial/main/AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
df.to_csv('../data/raw/df.csv')

In [6]:
df.shape

(48895, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [11]:
df.duplicated().sum() # Columnas Duplicadas
print(df['id'].duplicated().sum()) # Verificamos que no hay id duplicados, para garantizar registros únicos

0

In [12]:
# Eliminar informción irrelevante

columnas_eliminar = ['last_review', 'reviews_per_month', 'host_name', 'name']
df.drop(columnas_eliminar, axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   host_id                         48895 non-null  int64
 2   neighbourhood_group             48895 non-null  object
 3   neighbourhood                   48895 non-null  object
 4   latitude                        48895 non-null  float64
 5   longitude                       48895 non-null  float64
 6   room_type                       48895 non-null  object
 7   price                           48895 non-null  int64
 8   minimum_nights                  48895 non-null  int64
 9   number_of_reviews               48895 non-null  int64
 10  calculated_host_listings_count  48895 non-null  int64
 11  availability_365                48895 non-null  int64
dtypes: float64(2), int64(7), object(3)
memory usage: 4.5+ MB

In [26]:
# Anilisis Univariante

    #Analisis Variables Categoricas

import matplotlib.pyplot as plt
import seaborn as sns

fig, axis = plt.subplot(2,3,figsize=(10,7))

#histogramas
sns.histplot(ax= axis[0,0],data=df,x='host_id')
sns.histplot(ax= axis[0,1],data=df,x='neighbourhood_group')
sns.histplot(ax= axis[0,2],data=df,x='neighbourhood')
sns.histplot(ax= axis[1,0],data=df,x='room_type')
sns.histplot(ax= axis[1,1],data=df,x='availability_365')
fig.delaxes(axis[1,2])
plt.tight_layout()
plt.show()

TypeError: subplot() takes 1 or 3 positional arguments but 2 were given

In [27]:
# Analisis Númericas 

fig, axis = plt.subplot(4,2,figsize=(10,14),gridspec_kw={"height_ratios" : [6,1,6,1]})

sns.histplot(ax=axis[0,0],data=df,x='price')
sns.boxplot(ax=axis[1,0],data=df,x='price')

sns.histplot(ax=axis[0,1],data=df,x='minimun_nights')
sns.boxplot(ax=axis[1,1],data=df,x='minimun_nights')

sns.histplot(ax=axis[2,0],data=df,x='price')
sns.boxplot(ax=axis[3,0],data=df,x='price')

sns.histplot(ax=axis[0,0],data=df,x='number_of_reviews')
sns.boxplot(ax=axis[1,0],data=df,x='number_of_reviews')

sns.histplot(ax=axis[2,1],data=df,x='calculated_host_listing_count')
sns.boxplot(ax=axis[3,1],data=df,x='calculated_host_listing_count')

TypeError: subplot() takes 1 or 3 positional arguments but 2 were given